#LandingPage-Section8 {
    width: 100%;
    height: 442px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 60px;
}

.LandingPage-Section8-Container {
    width: 100%;
    max-width: 1200px;

    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.LandingPage-Section8-Container-Inside {
    max-width: fit-content;
}

.LandingPage-Section8-Text1 {
    font-family: "Cormorant Upright", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 130%;
    letter-spacing: 0.04em;
    text-transform: capitalize;
    font-feature-settings: "tnum" on, "lnum" on;
    color: #ffffff;
    margin-bottom: unset;
    text-align: center;
}

.LandingPage-Section8-Text2 {
    font-family: "Cormorant Upright", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 55px;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: capitalize;
    font-feature-settings: "tnum" on, "lnum" on;
    color: #dcca87;
    margin-bottom: unset;
}

.LandingPage-Section8-Text3 {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #ffffff;
    margin-bottom: unset;
}

.LandingPage-Section8-RowInput{
    margin-top: 64px;
}

.LandingPage-Section8-Input {
    width: 78%;
    height: 54px;
    border: 1px solid #f5efdb;
    background-color: transparent;
    padding: 18px;
    font-family: "Cormorant Upright",sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 0.04em;
    text-transform: capitalize;
    font-feature-settings: "tnum" on, "lnum" on;
    color: #aaaaaa;
}

.LandingPage-Section8-Button {
    margin-left: 5%;
    width: 17%;
    height: 34px;
    background: #dcca87;
    border: 1px solid #dcca87;

    font-family: "Cormorant Upright", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.04em;
    color: #0c0c0c;
}
