.section-title {
    font-size: 55px;

    /* kalau mobile jadi */
    font-size: calc(0.7 * 55px);
}

.section-title2 {
    font-size: 20px;

    /* kalau mobile jadi */
    font-size: calc(0.9 * 20px);
}

.column-title {
    font-size: 37px;
}

.section-desc {
    font-size: 14px;
}
